In [2]:
import pandas as pd
import numpy as py

In [3]:
path = "Data/fish_name.xlsx"
fish_df = pd.read_excel(path)

In [4]:
fish_df = fish_df[['3A_CODE','Scientific_name','English_name','Family']]

In [5]:
fish_df.rename(columns = {'3A_CODE':'Species','Scientific_name':'scientific_name','English_name':'name','Family':'family'}, inplace=True)

In [6]:
fish_df.head()

,Species,scientific_name,name,family
0,LAU,Petromyzon marinus,Sea lamprey,Petromyzontidae
1,LAR,Lampetra fluviatilis,River lamprey,Petromyzontidae
2,IDK,Lampetra aepyptera,Least brook lamprey,Petromyzontidae
3,IDL,Lampetra ayresii,Western American river lamprey,Petromyzontidae
4,IDN,Lampetra planeri,European brook lamprey,Petromyzontidae

In [7]:
fish_df.to_csv('fish_final.csv', index=False)